nav .logo-header {
    width: 200px;
}

.scrolled {
    position: fixed;
    width: 100%;
    z-index: 12;
    top: 0;
}

.top-header {
    position: op;
    width: 100%;
    z-index: 12;
    top: 0;
}

nav .logo-header img {
    width: 100%;
}

nav .logo-header h1 {
    font-size: 20px;
}

nav .top-header {
    padding: 5px;
}

@media only screen and (max-width: 900px) {
    .mobile {
        display: none !important;
    }

    .home-heading {
        height: 220px !important;
        background-image: url('../Assets/banners/edu_home_mobile.webp') !important;
        background-size: 100%;
    }

    .home-heading-title {
        padding-bottom: 29px;
    }

    .home-heading-title h1 {
        font-size: 1.2em;
        font-weight: 700;

    }

    .home-heading-title p {
        font-size: 0.8em !important;
    }

    .home-btn {
        font-size: 0.7em;
    }

    .academic-heading .card {
        height: 68vh;
        margin: 10px;
    }

    .academic-heading .card .academic-details {
        position: relative;
    }

    .academic-contact-details {
        position: absolute;
        margin-top: -100px;
    }
    .item-main::before{
        width: 50px;
    }
    .items img{
        width: 50px; 
    }
 


}



.home-heading {
    height: 320px;
    background-image: url('../Assets/banners/edu_home.webp');
    background-size: 100%;
    display: flex;
    justify-content: start;
    text-align: center;
    align-items: center;
    background-repeat: no-repeat;

}

.home-heading-bottom {
    height: 170px;
    background-image: url('../Assets/landing/Frame\ 2_4x.webp');
    color: white;
    background-size: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    /* padding-top: 50px; */
     background-repeat: no-repeat;
}

.home-borders {
    border-top: 1px solid rgb(204, 201, 201);
    border-bottom: 1px solid rgb(204, 201, 201);
    padding: 20px;

}

.home-btn {
    background-color: blue;
    border-radius: 30px;
    padding: 5px;
    text-transform: capitalize;
    color: white;
    border: none;
}

.courselist {
    display: flex;
    gap: 10px;
    float: right;
}

.courselist button {
    border: none;
    color: rgb(7, 7, 7);
    border-radius: 5px;
    background-color: white;
    border-radius: 0px !important;
    cursor: pointer;
    transition: background 0.3s ease;

}

.courselist button.active {
    border-bottom: 2px solid blue;
}

.courselist button:hover {
    border-bottom: 2px solid blue;
}

.degreelist {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: #f8f9fa;
    padding: 15px;
    border-radius: 8px;

}

.degreelist h5 {
    margin: 0;
    color: #333;
}

.degreelist ul {
    list-style: none;
    padding: 0;
}

.degreelist li {
    margin: 5px 0;
}

.degreelist a {
    text-decoration: none;
    color: #0b0b0b;
    transition: color 0.3s ease;

}

.degreelist a:hover {
    color: #007bff;
}

.degreelist .dree {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    margin-right: 10px;
    padding: 1px;
    border-radius: 0px;
    margin-bottom: 10px;
    cursor: pointer;
}

.degreelist .dree.active {
    border-bottom: 2px solid blue;
    padding: 3px;
    margin-right: 10px;
    color: rgb(0, 0, 0);
}

.course .university .card {
    margin: 0px;
    padding: 15px;
    cursor: pointer;


}

.course .university img {
    width: 100%;
}

.coursenames input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.course_listitems {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    height: 160px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #4697ee #f8f9fa;
}

.course_listitems::-webkit-scrollbar {
    width: 5px;
}

.course_listitems::-webkit-scrollbar-thumb {
    background: #007bff;
    border-radius: 15px;
}

.course_listitems::-webkit-scrollbar-track {
    background: #f8f9fa;
}


.course_listitems label {
    display: flex;
    align-items: center;
    gap: 5px;
}


/* form */




.academic-heading {
    padding: 2px 10%;
    position: relative;
}

.academic-heading h4 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 2%;
    color: darkblue;
}

.academic-details {
    height: 30vh;
}

.academic-heading .card {
    margin: 2px;
}

.academic-details img {
    height: 150px;
    width: 150px;
}

.academic-details h5 {
    text-align: center;
    padding-top: 10px;
    font-size: 14px;
}

.academic-details h6 {
    text-align: center;
    font-size: 14px;
    color: red;
}

.academic-contact-details {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 0;
    left: 0;
    margin-left: -10px;
}

.university-content h5 {
    font-size: 17px;
    text-align: center;
    padding-top: 10px;
}

.university-content h6 {
    font-size: 10px;
}

.university-content img {
    height: 100px;
}

.course {
    padding: 20px;
}

.university .card:hover {}

.academic-contact-details button {
    padding: 10px;
    height: 30px;
    border: none;
    border-radius: 5px;
    margin: 2px;
    font-size: 10px;

}

.academic-contact-details svg {
    font-size: 15px;
    padding-right: 5px;
}

.academic-contact-details .call {
    background-color: darkblue;
    color: white;

}

.academic-contact-details .whatsapp {
    background-color: darkgreen;
    color: white;
}

.academic-contact-details .mail {
    background-color: rgb(81, 81, 164);
    color: white;
}

.alumni-heading {
    margin-top: 90px;
    background-color: rgb(7, 7, 88);
    height: 90vh;
    overflow-y: scroll;
}

.alumni-heading h4 {
    text-align: center;
    color: white;
    padding-bottom: 10px;
    padding-top: 30px;
}

.alumni-heading h2 {
    text-align: center;
    color: red;
}

.alumni-heading h5 {
    padding-top: 2px;
    padding-bottom: 5px;
}

.alumni-heading h5 {
    text-align: center;
    color: white;
}

.alumni-images {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.alumni-heading .card img {
    height: 100px;
    width: 100px;
}

.alumni-images .card .student-alumni-details h6 {
    text-align: center;
    padding-top: 10px;
    color: darkblue;
}


/* university form */



.form{
    border: 1px solid black;
    height: 400px;
    width: 100%;
    background-color:white;
}
.cost{
  text-transform: capitalize;
  font-size: 1em;
  background-color: gray;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 5px;
}



.form .input-form{
     position: relative;

}


.form .input-form label{
    position: absolute;
    top: -12px;
     z-index: 2;
     background-color: white;
     color:black;
}


.uni-content{

    color: whitesmoke;
    background-color:rgb(7, 7, 88);

}

/* image animation */

.item-main{
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}
 .item-main:hover .items{
     animation-play-state: paused;
 }

.item-main::before{
    content: "";
     position: absolute;
     height: 100px;
     width: 120px;
     background-color: white;
     top: 0;
     left: 0;
     z-index: 10;
     
}


@media only screen and (max-width: 900px){
    .item-main::before{
        width: 20px;
    }
    .items img{
        width: 80px !important; 
    }
  .item-main{
    margin: 50px 0px;
  }

}

.uni-content .university_form{
    padding: 1%;
}
.uni-content .register_form{
    background-color: white;
    padding: 10px;
    color: black;
    border-radius: 5px;
}
.uni-content .form_sumbit{
    display: flex;
    justify-content: center;
    margin-top: 7px;
}

.items{

    animation: slide 20s infinite linear;
    display: inline-block;
     margin-left: 60px;

}
.items img{
      width: 200px;
      box-shadow: -6px 2px 9px rgb(199 195 195);
      border-radius: 10px;
 }


@keyframes slide {
     from{
   transform: translateX(0);
     }
     to{
       transform: translateX(-600%);
     }
}




