.emi h2{
    color: #1868ae;
    text-align: start;
}
.emi .emi-btns{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.emi .emi-btns button{
    height: 80px;
    width: 250px;
    border-radius: 5px;
    background-color: #f6e1d1;
    border: none;
}
.emi .emi-btns h2{
    font-size: 25px;
    color: #097770;
}
.emi .emi-btns p{
    font-size: 13px;
    color: #500472;
    text-align: start;
    padding: 0;
}
.emi .loan{
    margin-top: -100px;
    margin-left: -100px;
}
.emi .form_sumbit button {
    background-color:#1868ae;
    color: white;
    border-radius: 5px;
}
@media screen and (max-width: 768px){
    .emi{
        margin-bottom: 100px;
    }
    .emi .emi-btns button{
        height: 100px;
    }
    .emi .emi-btns button p{
        font-size: 12px;
    }
    .emi img{
        display: none;
    }
}