.explore_more_body {
    height: 100px;
}
.explore_more_body p{
    color:red;
}
.explore_more_body .list_out_courses .dree {
    padding: 10px 10px;
    border: 1px solid rgb(209, 209, 209);
    margin: 5px 0px;
    cursor: pointer;
    border-radius: 5px;
}

.explore_more_body .list_out_courses .active {
    padding: 10px 5px;
    background-color:#1868ae;
    margin: 5px 0px;
    color: white;
}
.explore_more_body .courselists{
    background-color: #eaf0f4;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.explore_more_body .course-names{
    border: 1px solid #5991c2;
    border-radius: 5px;
}
.explore_more_body .list_out_courses {
    height: 400px;
    text-align: start;
    overflow-y: scroll;
}
.explore_more_body .content{
    height: 470px;
    width: 650px;
    overflow-y: scroll;
}
.explore_more_body .card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
.explore_more_body .card-item{
    flex: 1 1 calc(33.33% - 16px);
    box-sizing: border-box;
}
.explore_more_body .uni-names{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}
.explore_more_body .uni-names p{
    margin-bottom: 0px;
    color: #1868ae;
    
}
.explore_more_body .uni-names{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
@media only screen and (max-width: 900px) {
    .explore_more_body .list_out_courses{
        width: 10px;
        height: 10px;
    }
}